<md-dialog>
   <md-dialog-content>
      <p>{{error}}</p>
   </md-dialog-content>
   <md-dialog-actions>
      <md-button ng-click="closeDialog()" class="md-primary">Fermer</md-button>
   </md-dialog-actions>
</md-dialog>