<md-content flex layout-padding>
    <div layout="column" flex-offset="10" flex="80" ng-controller="TaskController" ng-init="findTask()">
        <ng-alert ></ng-alert>
        <div layout="column">
            <h1>Modification</h1>
        </div>
        <ng-form-task layout="column" ></ng-form-task>
    </div>
</md-content>