<form ng-submit="addNewTask();" layout="row">

    <md-input-container flex ng-if="form == 'edit'">
        <label for="for_start">Date de création</label>
        <md-datepicker disabled id="for_start" ng-model="newTask.created" aria-label="Date de création"></md-datepicker>
    </md-input-container>

    <md-input-container flex>
        <label for="for_end">Date de fin</label>
        <!--<input ng-model="newTask.end" ng-value="newTask.end | date:'dd/MM/yyyy'" type="text" id="for_end" aria-label="Date de fin">-->
        <md-datepicker id="for_end" ng-model="newTask.end" aria-label="Date de fin"></md-datepicker>
    </md-input-container>

    <md-input-container flex>
        <label for="for_title">Intitulé</label>
        <input required ng-model="newTask.title" ng-value="newTask.title" type="text" id="for_title"  aria-label="Intitulé">
        <div ng-messages="newTask.title.$error">
            <div ng-message="required">This is required!</div>
        </div>
    </md-input-container>

    <md-input-container flex="10">
        <label for="for_priority">Priorité</label>
        <md-select required ng-model="newTask.priority" id="for_priority" aria-label="Priorité">
            <md-option ng-value="i" ng-repeat="i in [1,2,3]" ng-selected="newTask.priority == i">{{ i }}</md-option>
        </md-select>
        <div ng-messages="newTask.priority.$error">
            <div ng-message="required">This is required!</div>
        </div>
    </md-input-container>

    <md-input-container flex ng-if="form == 'edit'">
        <md-checkbox ng-model="newTask.status" aria-label="Fait">Fait</md-checkbox>
    </md-input-container>

    <md-input-container flex>
        <md-button ng-if="form == 'create'" type="submit" class="md-raised md-primary" >
            <md-icon>add</md-icon>
        </md-button>
        <md-button ng-if="form == 'edit'" type="button" class="md-raised md-accent" ng-click="editTask()">
            <md-icon>create</md-icon>
        </md-button>
    </md-input-container>
</form>