<md-content flex layout-padding>
    <div layout="column" flex-offset="10" flex="80" ng-controller="TaskController" ng-init="allTasks()">
        <ng-alert layout="column"></ng-alert>
        <div layout="column">
            <h1>Toutes mes taches</h1>
        </div>
        <ng-form-task layout="column"></ng-form-task>
        <div layout="column" >
            <md-list>
                <md-list-item ng-repeat="task in tasks">
                    <md-icon class="md-warn md-body-1" ng-if="task.priority == 3">warning</md-icon>
                    <md-icon class="md-accent md-body-1" ng-if="task.priority == 2">feedback</md-icon>
                    <md-icon class="md-primary md-body-1" ng-if="task.priority == 1">info</md-icon>
                    <md-checkbox ng-click="check(this)"
                                 ng-model="task.status"
                                 aria-label="Fait"></md-checkbox>

                    <p>{{task.title}}</p>
                    <p>{{task.created|date:'dd/MM/yyyy'}}</p>
                    <p>{{task.end|date:'dd/MM/yyyy'}}</p>


                    <md-button class="md-secondary md-raised md-accent" ui-sref="todolist edit({ id: task._id })">
                        <md-icon>create</md-icon>
                    </md-button>
                    <md-button class="md-secondary  md-raised md-warn" ng-click="removeTask(task._id)">
                        <md-icon>clear</md-icon>
                    </md-button>
                </md-list-item>
            </md-list>
            <div ng-if="tasks.length == 0">
                <p>Aucune tâches</p>
            </div>
        </div>
    </div>
</md-content>