<md-subheader class="md-primary"></md-subheader>
<script type="text/javascript" src="/bundle/app.js"></script>

{% if (process.env.NODE_ENV == 'development') %}
  <script type="text/javascript" src="{{'//' + req.hostname + ':35729/livereload.js'}}"></script>
{% endif %}
